---
---
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;


.page-content {
}

.category {
  size: 12pt;
  color: $brand-color;
}

.math {
  font-family: "Computer Modern Serif", sans-serif;
}
