---
---
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;


.page-content {
  padding: 100px 0;
}

.category {
  size: 12pt;
  color: $brand-color;
}

.math {
  font-family: "Computer Modern Serif", sans-serif;
}

.wrapper {
  max-width: calc(1000px - (30px*2));
  font-size: 16pt;
}

.home {
  text-align: center;
}

.home .post-link {
  font-size: 25pt;
}

.post-list img {
  max-height: 200px
}

.post-list > li {
    margin-bottom: 50px;
}
